@{
    ViewData["Title"] = "Welcome to Em's Embroidery";
}

<div class="text-center">
    <h1 class="display-4" style="display: flex; align-items: center;">
            <img src="/img/icon.png" alt="icon" style="width: 70px; height: 70px;" />
        Welcome to Em Embroiders
    </h1>
    <br />
    <p>Learn more about Em's Beautiful Embroidery Skills</p>    <br />
    <br />
    <h1>
        On this site you will get to see beautiful embroidery work and 
        learn more about the wonderful world of embroidery.
    </h1>

    <br /> 
    <img src="/img/e2.jpg" alt="Embroidery 1" style="width: 300px; height: auto; margin-bottom: 20px;" />
    <img src="/img/e3.jpg" alt="Embroidery 2" style="width: 300px; height: auto; margin-bottom: 20px;" />

    <p>
        I love to embroider. Whether it is kits you can get from the craft store
        or getting creative with a shirt or bag or shoes, I love watching designs 
        come to life on the fabric. 

        <br /> 
        <br />

        Embroidery is super fun and relaxing, you can do it while watching tv, listening 
        to an audio book, talking with a friend, or just enjoying the silence. All you need
        is embroidery floss, an embroidery hoop, a needle, and a vision! 

        <br /> 
        <br />

        There are all kinds of things you can do with embroidery. You can make the traditional
        wall hanging, add flare to a shirt, pants, or a pair of shoes, or add special 
        details to a wedding veil. You can make gifts for friends and family, projects for
        school, or something special just for you! 

        <br />
        <br />
        
        It's a skill you can apply to other things in life as well, you can dive into 
        knitting, crochet, cross stitch or quilting even! Open the door to your creativity, 
        and come learn how to embroider with me!

        <br>
        <br />

        <div style="display: flex; justify-content: center;">
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Calc">Price Calculator</a>
        </div>

    </p>
</div>
